{% extends "base.html" %}

{% block titulo %} Ventas por región {% endblock %}


{% block contenido%}
    <h1>Ventas por región</h1>
    <table class="u-full-width"><!--para colocar el ancho de toda la página--> 
        <tr>
            <th>Region</th>
            <th>Ventas</th>
            <th>Beneficios</th>
        </tr>
        {% for region, data in ventas.items() %}<!--bucle en jinja para obtener claves y valor de nuestro diccionario-->
        <tr>
            <td class="region"><a href="/paises?region={{ region }}"> {{ region }}</a></td><!--valor de region contenido en nuestro diccionario guardado en la variable region-->
            <td>{{ data.ingresos | round(2, "floor") }}€</td><!--valor de ingresos que hay en nuestro diccionario guardado en la variable data-->
            <td>{{ data.beneficios | round(2, "floor") }}€ </td><!--valor de beneficios que hay en nuestro diccionario guardado en la variable data-->
        </tr>
        {% endfor %}
    </table>
{% endblock %}




    