{% extends "base.html" %}

{% block titulo %} Ventas por país {% endblock %}


{% block contenido%}
    <h1>Ventas en {{region_nm}} , deglosadas por país <a class="boton" href="/">Atrás</a> </h1>
    <table> 
        <tr>
            <th>Region</th>
            <th>Ventas</th>
            <th>Beneficios</th>
        </tr>
        {% for region, data in ventas.items() %}<!--bucle en jinja para obtener claves y valor de nuestro diccionario-->
        <tr>
            <td class="region">{{region}}</td><!--valor de region contenido en nuestro diccionario guardado en la variable region-->
            <td>{{ data.ingresos  }}</td><!--valor de ingresos que hay en nuestro diccionario guardado en la variable data-->
            <td>{{ data.beneficios }}</td><!--valor de beneficios que hay en nuestro diccionario guardado en la variable data-->

        </tr>
        {% endfor %}
    </table>
{% endblock %}